@page
@model GTAWebsite.Pages.AddCourse.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                @{
                    List<string> newCourseList = new List<string>(Models.Menu.courses);
                    newCourseList.Remove("Any");
                    <div>Course</div>
                    <select class="form-select-md" asp-for="Course.courseName" asp-items="new SelectList(newCourseList, newCourseList.ElementAt(0))"></select>
                }
            </div>
            <div class="form-group">
                <div>Description</div>
                <textarea asp-for="Course.courseDescription" class="form-control"></textarea>
                <span asp-validation-for="Course.courseDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                 @{
                    List<string> newPosList = new List<string>(Models.Menu.positions);
                    newPosList.Remove("Any");
                    <div>Position</div>
                    <select class="form-select-md" asp-for="Course.positionName" asp-items="new SelectList(newPosList, newPosList.ElementAt(0))"></select>
                 }
            </div>
            <div class="form-group">
                @{
                    List<string> newQualList = new List<string>(Models.Menu.qualifications);
                    newQualList.Remove("Any");
                    <div>Qualification</div>
                    <select class="form-select-md" asp-for="Course.qualificationName" asp-items="new SelectList(newQualList, newQualList.ElementAt(0))"></select>
                }
            </div>
            <div class="form-group">
                @{
                    List<string> newSemList = new List<string>(Models.Menu.semesters);
                    newSemList.Remove("Any");
                    <div>Semester</div>
                    <select class="form-select-md" asp-for="Course.semester" asp-items="new SelectList(newSemList, newSemList.ElementAt(0))"></select>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
