@page
@model GTAWebsite.Pages.FormApplication
@{
}

<div class="row">
    <div class="col-lg-9 mx-auto rounded border p-3">
        <h2 class="text-center mb-5"> Application Form</h2>

        <form method="post">
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-5">
                    <input class="form-control" asp-for="FirstName">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-5">
                    <input class="form-control" asp-for="LastName">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-5">
                    <input class="form-control" asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>

                </div>

            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Phone</label>
                <div class="col-sm-5">
                    <input class="form-control" asp-for="Phone">
                    <span asp-validation-for="Phone" class="text-danger"></span>

                </div>

            </div>
             
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">GTA Certified?</label>
                <div class="col-sm-5">
                     <div class="form-check">
                         <input class="form-check-input" type="checkbox" asp-for="GtaCertified">
                         <label class="form-check-label" for="GtaCertified">Yes, I am GTA certified</label>
                     </div>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Attachment</label>
                <div class="col-sm-5">
                    <input type="file" asp-for="Attachment">
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4" col-sm-8>
                    <button type="submit" class="btn btn-primary">Submit</button>
                 

                </div>

            </div>
        </form>

    </div>

</div>
