@page
@model GTAWebsite.Pages.MoreModel
@{
    <style>
    .more-area {
        display:flex;
        flex-direction:column;
        padding:10px
    }
    </style>

    <div class='more-area' id='area1'></div>

    <script>
        var course = JSON.parse(localStorage.getItem("object"));
        document.getElementById("area1").innerHTML = "<div class='col-sm-2 col-form-label'>Course: " + course.courseName + "</div><br><div class='col-sm-2 col-form-label'>About: " + course.courseDescription + "</div><br><div class='col-sm-2 col-form-label'>Position: " + course.positionName + "</div><br><div class='col-sm-2 col-form-label'>Qualification Needed: " + course.qualificationName + "</div><br><a href='./Form' type='button' style='width:200px' class='btn btn-primary'>Apply</a>";
    </script>
}
