@page
@model GTAWebsite.Pages.MoreModel
@{
    <style>
    .more-area {
        display:flex;
        flex-direction:column;
        padding:10px
    }
    </style>

    <div class='more-area' id='area1'></div>

    <script>
        var course = JSON.parse(localStorage.getItem("object"));
        document.getElementById("area1").innerHTML = "Course: " + course.courseName + "<br>About: " + course.courseDescription + "<br>Position: " + course.positionName + "<br>Qualification Needed: " + course.qualificationName + "<br><a href='./Form' type='button' style='width:200px' class='btn btn-primary'>Apply</a>";
    </script>
}
